.jumbotron {
    /*background-image: url("./images/forkAndKnife.png");*/
    /*background-color: #17234E;*/
    /*margin-bottom: 0;*/
    /*min-height: 25%;*/
    background-repeat: repeat;
    background-position: center;
    /*-webkit-background-size: cover;*/
    /*background-size: 3%;*/
}

#list {
    list-style-type: none;
}